@import url('./room.css');
@import url('./gest.css');
@import url('./grid.css');
@font-face {
	font-family: 'Open Sans';
	src: url('../fnt/OpenSansRegular.eot') format('embedded-opentype'),
		 url('../fnt/OpenSansRegular.woff') format('woff'),
		 url('../fnt/OpenSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}
body {
	font: 14px sans-serif;
	font-family: 'Open Sans', 'Open Sans Light';
}
a:link,
a:visited {color: dodgerblue}
body > div {
	position: absolute;
	left:0px;right:0px;
	top:0px;bottom:0px;
	outline: 1px solid gray;
}
section > h6 {display:none}
section.heder {
	height: 100px;
	background: #eee;
}
section.clndr {
	position: absolute;
	left:0;right:0;
	bottom:0;
	top: 100px;
	overflow:hidden;
}
section.clndr > div {
	position: absolute;
	left:0px;right:0px;
	bottom:0px;top:0px;
}
section.clndr-xxx > div {
	position: static;
	width: calc(100% + 17px);
	height: 100%;
}
section.clndr ol,
section.clndr li {
	padding: 0;
	margin: 0;
	list-style: none;
}
section.clndr ol.rumz {
	position: absolute;
	left: 0;
	top: 40px;
	width: 220px;
}
section.clndr ol.rumz li {
	height:40px;
	line-height: 40px;
}

section.clndr ol.dayz {
	background: rgba(255,255,255,.75);
	border-bottom: 1px solid rgb(142,204,243);
	position: absolute;
	margin-left:220px;
	left: 0;right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	overflow: hidden;
	overflow-y:scroll;
}
section.clndr ol.dayz li {
	height:40px;
	width: 100%;
	line-height: 40px;
	min-width: 24px;
	text-align:center;
	border-left: 1px solid rgb(226,226,226);
}

section.clndr ol.grid {
	margin: 40px 0 0 220px;
	overflow: hidden;
}
section.clndr ol.grid li {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
section.clndr ol.grid li > b {
	display: block;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-weight: normal;
	width: 100%;
	min-width:24px;
	text-align: center;
	font-weight: normal;
	border-left: 1px solid rgb(226,226,226);
}

a.amons {
	text-decoration: none;
	float: left;
	padding: 0 .5em;
	margin: 0 .5em;
}
a.month:link,
a.month:visited {}
