@charset 'utf-8';
html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    background: rgb(230,230,230);
    color: rgb(51,51,51);
    font: 1em/1.4 'Helvetica','Arial',sans-serif
}
a:link,
a:visited {
    color: rgb(60, 120, 250);
    text-decoration: underline;
}
a:visited {
    color: rgb(80, 100, 255);
}
h1,h2,h3,h4,h5,h6 {
    font: normal 400 100% 'Verdana';
}
h1 {
    font-weight: 400;
    font-size: 2.1em;
}
h2 {
    font-weight: 300;
    font-size: 2.1em;
}
h3 {
    font-weight: 400;
    font-size: 1.5em;
}
body > div {
    z-index: 1;
    padding: 48px 12px;
}
header,
footer {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 36px;
    background: rgba(255,255,255,.8);
    color: black;
    box-shadow: 0 0 5px gray;
    font-size: 12px;
    line-height: 36px;
}
header {top: 0}
footer {bottom: 0}

header > a,
footer > a {
    float: left;
    margin: 0 6px;
}
pre {
    font: 11px Courier;
}
.wrpr {
    outline: 0px solid rgba(0,0,0,.1);
    background: white;
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: 600px;
    margin: 24px auto;
}

table {
	border: 0px solid gray;
	border-collapse: collapse;
	width: 100%;
}
table th,
table td {
	background: white;
	padding: 3px 5px;
	border: 1px solid gray;
	text-align: left;
	font-size: 12px;
}
table th {
	background: darkgray;
}